root = "."
testdata_dir = "testdata"
tmp_dir = ".air"

[build]
cmd = "make build-go EXTRA_GO_OPTIONS='-cover'"
delay = 1000
exclude_dir = [
   "assets",
   "configs",
   "deploy",
   "scripts",
   "postman",
   "mocks",
   "vegeta",
   "clients",
   "workers",
]
exclude_file = [ ".air.toml", ".air.opa.tom.", "Dockerfile", "Makefile" ]
exclude_regex = [ "_test.go" ]
exclude_unchanged = false
follow_symlink = false
full_bin = """ \
    set -x; \
    export SUPERBLOCKS_AGENT_APP_ENV_TEST=ok; \
    register=false; \
    superblocks_url=${SUPERBLOCKS_ORCHESTRATOR_SUPERBLOCKS_URL-http://127.0.0.1:3100}; \
    version="0.0.0"; \
    if [[ -n $SUPERBLOCKS_AGENT_KEY ]]; then \
        register=true; \
        superblocks_url=${SUPERBLOCKS_ORCHESTRATOR_SUPERBLOCKS_URL-https://api.superblocks.com}; \
        version="v1.0.0"; \
    fi; \
    ./orchestrator \
        --zen \
        --test=true \
        --log.level=debug \
        --otel.collector.http.url=http://127.0.0.1:4318 \
        --intake.metadata.url=http://127.0.0.1:10300/api/v1/syncer/metadata \
        --intake.event.url=http://127.0.0.1:10300/api/v1/events \
        --emitter.event.flush.max.duration='1s' \
        --emitter.remote.intake=http://127.0.0.1:3030 \
        --buckets.config=./buckets.minimal.json \
        --auth.jwt.enabled=true \
        --registration.enabled=${register} \
        --jobs.enabled=false \
        --grpc.bind=127.0.0.1 \
        --http.bind=127.0.0.1 \
        --http.port=18080 \
        --agent.host.url=${SUPERBLOCKS_AGENT_HOST_URL-http://localhost:18080} \
        --superblocks.url=${superblocks_url} \
        --data.domain=${SUPERBLOCKS_AGENT_DATA_DOMAIN-app.superblocks.com} \
        --superblocks.key=${SUPERBLOCKS_AGENT_KEY-dev-agent-key} \
        --agent.version.external=${version} \
        --quotas.enabled=true \
        --events.cloud.enabled=${SUPERBLOCKS_ORCHESTRATOR_EVENTS_CLOUD_ENABLED-false} \
        --worker.go.enabled=true \
        --file.server.url=http://host.docker.internal:18080/v2/files \
        --transport.redis.password=koala \
        --store.redis.password=koala \
        --worker.ephemeral.plugins.enabled=${SUPERBLOCKS_WORKER_EPHEMERAL_PLUGINS-}

    """
include_dir = [  ]
include_ext = [ "go", "tpl", "tmpl", "json", "mod", "sum", "toml" ]
kill_delay = 2000
log = "build-errors.log"
send_interrupt = true
stop_on_error = true

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
time = false

[misc]
clean_on_exit = false

[screen]
clear_on_rebuild = false
