orchestrator
Dockerfile
Dockerfile
coverage/
clients/
tmp/

.git

**/node_modules
**/dist

Dockerfile.worker.python
./workers/python/helm
./workers/python/integration_test
./workers/python/coverage.json

Dockerfile.worker.javascript
./workers/javascript/helm
./workers/javascript/.pnpm-store
./workers/javascript/packages/**/.env
./workers/javascript/packages/ts
./workers/javascript/packages/**/*.test.ts
