orchestrator
Dockerfile
coverage/
clients/
tmp/

.air
.git

**/node_modules
**/dist
# But allow specific dist folders needed for javascript-sandbox build
!workers/javascript/packages/shared/dist
!workers/javascript/packages/types/dist

Dockerfile.worker.python
./workers/python/helm
./workers/python/integration_test
./workers/python/coverage.json

Dockerfile.worker.javascript
./workers/javascript/helm
./workers/javascript/.pnpm-store
./workers/javascript/packages/**/.env
./workers/javascript/packages/ts
./workers/javascript/packages/**/*.test.ts


./workers/golang/worker.go
./workers/golang/worker_go

traefik.yaml
tls.yaml
certs/
