/orchestrator
tmp/
coverage.out
**/node_modules
traces.json
.idea
**/*.DS_Store
*.svg
*.swp
*.swo
*/*.report.json
kafka.tgz
.prettierrc.json
get_helm.sh
orchestrator.*env
*.pprof
coverage/
charts/
.air
*.env*
!/config/.env*
!/workers/javascript/packages/fleets/*/.env
**/mise.toml
**/pyrightconfig.json

/regsync

/workers/golang/worker.go
/workers/golang/worker_go
/workers/golang/tmp

**/**/.pnpm-store


/workers/javascript/packages/**/node_modules
/workers/javascript/node_modules/
/workers/javascript/.pnpm-store/
/workers/javascript/packages/**/dist

/workers/ephemeral/javascript-sandbox/.pnpm-store/
/workers/ephemeral/javascript-sandbox/**/node_modules/
/workers/ephemeral/javascript-sandbox/**/dist
/workers/ephemeral/javascript-sandbox/**/*.tsbuildinfo

/workers/ephemeral/javascript-plugins-sandbox/.pnpm-store/
/workers/ephemeral/javascript-plugins-sandbox/**/node_modules/
/workers/ephemeral/javascript-plugins-sandbox/**/dist
/workers/ephemeral/javascript-plugins-sandbox/**/*.tsbuildinfo

/workers/python/coverage.json
**/__pycache__/

/workers/ephemeral/task-manager/task-manager

# Agent/MCP related
.fastembed_cache/
