/orchestrator
tmp/
coverage.out
**/node_modules
traces.json
.idea
**/*.DS_Store
*.svg
*.swp
*.swo
*/*.report.json
kafka.tgz
.prettierrc.json
get_helm.sh
orchestrator.*env
*.pprof
coverage/
charts/
.air
*.env*
**/mise.toml

/regsync

/workers/golang/worker.go
/workers/golang/worker_go
/workers/golang/tmp

**/**/.pnpm-store



/workers/javascript/packages/**/node_modules
/workers/javascript/node_modules/
/workers/javascript/.pnpm-store/
/workers/javascript/packages/**/dist

/workers/python/coverage.json
