/orchestrator
tmp/
coverage.out
**/node_modules
traces.json
.idea
**/*.DS_Store
*.svg
*.swp
*.swo
*/*.report.json
kafka.tgz
.prettierrc.json
get_helm.sh
orchestrator.*env
*.pprof
coverage/
charts/
.air

/regsync

/workers/golang/worker.go
/workers/golang/worker_go
/workers/golang/tmp

**/**/.pnpm-store



/workers/javascript/packages/**/node_modules
/workers/javascript/node_modules/
/workers/javascript/.pnpm-store/
/workers/javascript/packages/**/dist

/workers/python/coverage.json

/.vscode
/config
/helm/cloud-opa
/helm/orchestrator/templates/networkpolicy.yaml
/helm/orchestrator/templates/httproute-migration.yaml
/helm/orchestrator/ci.yaml
/helm/orchestrator/dev.yaml
/helm/orchestrator/ephemeral.yaml
/helm/orchestrator/prod-eu.yaml
/helm/orchestrator/production.yaml
/helm/orchestrator/staging.yaml