{{- range $k, $v := $.Values.worker.fleets }}
{{- if $v.enabled }}
{{- $autoscaling := merge $v.autoscaling $.Values.worker.autoscaling }}
{{- if $autoscaling.enabled }}
---
apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "superblocks-agent.worker.fleet.name" (dict "Global" $ "fleet" $k) }}
  labels:
    {{- include "superblocks-agent.labels" $ | nindent 4 }}
    {{- include "superblocks-agent.worker.labels" $k | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "superblocks-agent.worker.fleet.name" (dict "Global" $ "fleet" $k) }}
  minReplicas: {{ $autoscaling.minReplicas }}
  maxReplicas: {{ $autoscaling.maxReplicas }}
  metrics:
    {{- if $autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        targetAverageUtilization: {{ $autoscaling.targetCPUUtilizationPercentage }}
    {{- end }}
    {{- if $autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        targetAverageUtilization: {{ $autoscaling.targetMemoryUtilizationPercentage }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
