{{- if .Values.queue.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: worker-redis-token
data:
  token: {{ .Values.queue.password | b64enc }}
{{- end }}

{{- if .Values.superblocks.key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: worker-agent-key
data:
  key: {{ .Values.superblocks.key | b64enc }}
{{- end }}

