{{- if .Values.image.credentials -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: ephemeral-worker-docker
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
{{- end }}

{{- if .Values.queue.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: worker-queue-redis-token
data:
  token: {{ .Values.queue.password | b64enc }}
{{- end }}

{{- if .Values.kvstore.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: worker-kvstore-redis-token
data:
  token: {{ .Values.kvstore.password | b64enc }}
{{- end }}

{{- if .Values.superblocks.key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: worker-agent-key
data:
  key: {{ .Values.superblocks.key | b64enc }}
{{- end }}

