version: '3.7'

x-environment: &environment
# REQUIRED
- SUPERBLOCKS_AGENT_KEY=${SUPERBLOCKS_AGENT_KEY}
# OPTIONAL
- SUPERBLOCKS_AGENT_ENVIRONMENT=${SUPERBLOCKS_AGENT_ENVIRONMENT:-*}
- SUPERBLOCKS_WORKER_TLS_INSECURE=${SUPERBLOCKS_WORKER_TLS_INSECURE:-true}
- SUPERBLOCKS_AGENT_HOST_URL=${SUPERBLOCKS_AGENT_HOST_URL:-http://localhost:8020}
- SUPERBLOCKS_AGENT_INTERNAL_HOST_URL=${SUPERBLOCKS_AGENT_INTERNAL_HOST_URL:-"http://controller:5001"}
- SUPERBLOCKS_AGENT_PORT=${SUPERBLOCKS_AGENT_PORT:-8020}
- SUPERBLOCKS_WORKER_PORT=${SUPERBLOCKS_WORKER_PORT:-5001}
- SUPERBLOCKS_WORKER_METRICS_PORT=${SUPERBLOCKS_WORKER_METRICS_PORT:-9090}
# INTERNAL OVERRIDE
- __SUPERBLOCKS_AGENT_SERVER_URL=${__SUPERBLOCKS_AGENT_SERVER_URL:-"https://app.superblocks.com"}
- __SUPERBLOCKS_SERVER_URL=${__SUPERBLOCKS_AGENT_SERVER_URL:-"https://app.superblocks.com"}
# DEPRECATED
- __SUPERBLOCKS_WORKER_ENABLE=true

services:
  worker:
    container_name: worker
    image: ${SUPERBLOCKS_DOCKER_WORKER_REPOSITORY:-ghcr.io/superblocksteam/agent/worker}:${SUPERBLOCKS_DOCKER_WORKER_TAG:-latest}
    pull_policy: ${SUPERBLOCKS_DOCKER_IMAGE_PULL_POLICY:-always}
    environment: *environment
    ports:
    - '${SUPERBLOCKS_WORKER_METRICS_PORT:-9090}:9090'
  controller:
    container_name: controller
    image: ${SUPERBLOCKS_DOCKER_CONTROLLER_REPOSITORY:-ghcr.io/superblocksteam/agent/controller}:${SUPERBLOCKS_DOCKER_CONTROLLER_TAG:-latest}
    pull_policy: ${SUPERBLOCKS_DOCKER_IMAGE_PULL_POLICY:-always}
    environment: *environment
    ports:
    - '${SUPERBLOCKS_AGENT_PORT:-8020}:8020'
    - '${SUPERBLOCKS_WORKER_PORT:-5001}:5001'
