---
repos:
  - repo: local
    hooks:
      - id: make-fmt
        name: make fmt check
        entry: make fmt CHECK_ONLY=true
        language: system
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.982"
    hooks:
      - id: mypy
        name: mypy
        description: ""
        entry: mypy
        exclude: "^src/gen/"
        language: python
        types_or: [python, pyi]
        args: ["--scripts-are-modules"]
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
        # (BRUCE): This is really dumb, will remove when I setup tox
        additional_dependencies:
          - "nest_asyncio==1.5.6"
          - "backoff==2.1.2"
          - "opentelemetry-api==1.13.0"
          - "opentelemetry-sdk==1.13.0"
          - "opentelemetry-exporter-otlp-proto-grpc==1.13.0"
          - "requests==2.28.1"
          - "requests-futures==1.0.0"
          - "python-dotenv==0.21.0"
          - "types-protobuf==3.20.4.6"
          - "dataclasses-json==0.5.7"
          - "types-requests==2.28.11.2"
          - "types-simplejson==3.17.7"
          - "types-urllib3==1.26.25"
          - "typing-inspect==0.8.0"
          - "typing_extensions==4.2.0"
          - "pydantic==2.9.0"
          - "ujson==5.6.0"
          - "redis==4.3.5"
          - "types-ujson==5.6.0.0"
          - "types-redis==4.3.21.6"
          - "psutil==5.9.5"
