{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "strict": "off",
    "no-console": "off",
    "max-len": "off"
  },
  "overrides": [
    {
      "files": ["fixtures/integration-test-apis.js"],
      "rules": {
        "no-template-curly-in-string": "off"
      }
    }
  ]
}
