{{- if .Values.server.deploy }}
{{ $hosts := mustAppend ( .Values.ingress.additionalUrls | default (list) ) .Values.externalUrl }}
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: GRPCRoute
metadata:
  name: {{ include "orchestrator.fullname" $ }}
spec:
  parentRefs:
    {{- range $g := .Values.gateway.gatewayRefs }}
    - name: {{ $g.name }}
      namespace: {{ $g.namespace }}
    {{- end }}
  hostnames:
    - {{ .Values.ingress.host }}
    {{- with .Values.ingress.testHost}}
    - {{ . }}
    {{- end }}
  rules:
    - matches:
        - method:
            service: api.v1.ExecutorService
            type: Exact
        - method:
            service: api.v1.MetadataService
            type: Exact
        - method:
            service: grpc.reflection.v1.ServerReflection
            type: Exact
        - method:
            service: grpc.reflection.v1alpha.ServerReflection
            type: Exact
      backendRefs:
        - name: {{ include "orchestrator.fullname" $ }}-grpc
          kind: Service
          port: {{ .Values.service.ports.grpc }}
{{- end }}
