{{- if .Values.server.deploy }}
{{- $fullname := include "orchestrator.fullname" . }}
{{- if .Values.image.credentials -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullname }}-docker
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
{{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullname }}-redis
type: Opaque
data:
  store: {{ .Values.kvstore.token | b64enc }}
  transport: {{ .Values.queue.token | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullname }}-superblocks-key
type: Opaque
data:
  key: {{ .Values.superblocks.key | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullname }}-launchdarkly
type: Opaque
data:
  apikey: {{ .Values.launchdarkly.apikey | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullname }}-secrets-encryption
type: Opaque
data:
  key: {{ .Values.secrets.encryptionKey | b64enc }}
{{- end }}
