{{- if .Values.server.deploy }}
{{- if .Values.image.credentials -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: orchestrator-docker
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
{{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: orchestrator-redis
type: Opaque
data:
  store: {{ .Values.kvstore.token | b64enc }}
  transport: {{ .Values.queue.token | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: orchestrator-superblocks-key
type: Opaque
data:
  key: {{ .Values.superblocks.key | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: orchestrator-launchdarkly
type: Opaque
data:
  apikey: {{ .Values.launchdarkly.apikey | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: orchestrator-secrets-encryption
type: Opaque
data:
  key: {{ .Values.secrets.encryptionKey | b64enc }}
{{- end }}
