# Disable scripting/functions
rename-command EVAL ""
rename-command EVALSHA ""
rename-command EVAL_RO ""
rename-command EVALSHA_RO ""
rename-command FCALL ""
rename-command FCALL_RO ""
rename-command FUNCTION ""
rename-command SCRIPT ""

# Default ACL file
aclfile /app/redis/users.acl
