---
apiVersion: v2
name: orchestrator
description: A Helm chart for the 'Orchestrator' component of the Superblocks Agent Platform.
type: application
version: 0.0.1
appVersion: "latest"
dependencies:
  - name: valkey
    version: 5.1.4
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: queue.deploy
  - name: worker_go
    version: 0.0.1
    repository: "file://../../workers/golang/helm"
    condition: worker_go.deploy
  - name: worker_py
    version: 0.0.1
    repository: "file://../../workers/python/helm"
    condition: worker_py.deploy
  - name: worker_js
    version: 0.0.1
    repository: "file://../../workers/javascript/helm"
    condition: worker_js.deploy
  - name: ephemeral_worker
    version: 0.0.1
    repository: "file://../../workers/ephemeral/helm"
    condition: ephemeral_worker.deploy
