{
  "swagger": "2.0",
  "info": {
    "title": "Superblocks API Executor Service",
    "description": "This is the contract that the Superblocks Orchestrator component exposes.",
    "version": "1.0",
    "contact": {
      "email": "frank@superblocks.com"
    }
  },
  "tags": [
    {
      "name": "MetadataService"
    },
    {
      "name": "DeprecatedService"
    },
    {
      "name": "ExecutorService"
    }
  ],
  "host": "agent.superblocks.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/agent/v1/workflows/{fetch.id}": {
      "post": {
        "operationId": "Sync Workflow Execution",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1WorkflowResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "fetch.id",
            "description": "A reference to the API by ID.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DeprecatedServiceWorkflowBody"
            }
          }
        ],
        "tags": [
          "DeprecatedService"
        ]
      }
    },
    "/health": {
      "get": {
        "operationId": "Service Health",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1HealthResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "detailed",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "MetadataService"
        ]
      }
    },
    "/v1/workflows/{fetch.id}": {
      "post": {
        "operationId": "Sync Workflow Execution",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1WorkflowResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "fetch.id",
            "description": "A reference to the API by ID.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DeprecatedServiceWorkflowBody"
            }
          }
        ],
        "tags": [
          "DeprecatedService"
        ]
      }
    },
    "/v2/cancel": {
      "post": {
        "operationId": "Cancel an API's Execution",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CancelResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "execution",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/delete": {
      "post": {
        "operationId": "Delete Integration Hook",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DeleteRequest"
            }
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/execute": {
      "post": {
        "summary": "Execute an API",
        "operationId": "ExecutorService_Await",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AwaitResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ExecuteRequest"
            }
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/execute/async": {
      "post": {
        "operationId": "Async Execution",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AsyncResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ExecuteRequest"
            }
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/execute/stream": {
      "post": {
        "operationId": "Stream Execution",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1StreamResponse"
                },
                "error": {
                  "$ref": "#/definitions/googlerpcStatus"
                }
              },
              "title": "Stream result of v1StreamResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ExecuteRequest"
            }
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/execute/stream/{fetch.id}": {
      "post": {
        "operationId": "Stream Execution",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1StreamResponse"
                },
                "error": {
                  "$ref": "#/definitions/googlerpcStatus"
                }
              },
              "title": "Stream result of v1StreamResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "fetch.id",
            "description": "A reference to the API by ID.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ExecutorServiceStreamBody"
            }
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/execute/twoway": {
      "post": {
        "operationId": "Two Way Execution",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1TwoWayResponse"
                },
                "error": {
                  "$ref": "#/definitions/googlerpcStatus"
                }
              },
              "title": "Stream result of v1TwoWayResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": " (streaming inputs)",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1TwoWayRequest"
            }
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/execute/{fetch.id}": {
      "post": {
        "summary": "Execute an API",
        "operationId": "ExecutorService_Await2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AwaitResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "fetch.id",
            "description": "A reference to the API by ID.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecutorServiceAwaitBody"
            }
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/files": {
      "get": {
        "operationId": "Download File",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1DownloadResponse"
                },
                "error": {
                  "$ref": "#/definitions/googlerpcStatus"
                }
              },
              "title": "Stream result of v1DownloadResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/metadata": {
      "get": {
        "operationId": "Integration Metadata",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1MetadataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "integration",
            "description": "This is confusing, but integration means integration id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "apiId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "profile.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "profile.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "profile.environment",
            "description": "DEPRECATED",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      },
      "post": {
        "operationId": "Integration Metadata",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1MetadataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1MetadataRequest"
            }
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/output": {
      "get": {
        "operationId": "Block Output",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OutputResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "execution",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "block",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/status": {
      "get": {
        "operationId": "Execution Status",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AwaitResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "execution",
            "description": "The execution ID of an in-progress API execution.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/test": {
      "post": {
        "operationId": "Integration Connection Test",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1TestResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1TestRequest"
            }
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    },
    "/v2/validate": {
      "post": {
        "operationId": "Validate an API specification",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ValidateRequest"
            }
          }
        ],
        "tags": [
          "ExecutorService"
        ]
      }
    }
  },
  "definitions": {
    "AkeylessAuthApiKey": {
      "type": "object",
      "properties": {
        "accessId": {
          "type": "string"
        },
        "accessKey": {
          "type": "string"
        }
      }
    },
    "AkeylessAuthEmail": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "AuthAppRole": {
      "type": "object",
      "properties": {
        "roleId": {
          "type": "string"
        },
        "secretId": {
          "type": "string"
        }
      }
    },
    "AwsAuthAssumeRole": {
      "type": "object",
      "properties": {
        "roleArn": {
          "type": "string"
        }
      }
    },
    "AzureClientCredentials": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        }
      }
    },
    "BlockBreak": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        }
      }
    },
    "BlockConditional": {
      "type": "object",
      "properties": {
        "if": {
          "$ref": "#/definitions/ConditionalCondition"
        },
        "elseIf": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/ConditionalCondition"
          }
        },
        "else": {
          "$ref": "#/definitions/v1Blocks"
        }
      }
    },
    "BlockLoop": {
      "type": "object",
      "properties": {
        "range": {
          "type": "string",
          "description": "*\nThis can be a binding that evaluates to one of three things:\n 1. An integer           IF type if TYPE_FOR.\n 2. A JSON encoded list  IF type is TYPE_FOREACH.\n 3. A boolean            IF type is TYPE_WHILE. NOTE that this expressition will be re-evaluated on each iteration."
        },
        "type": {
          "$ref": "#/definitions/BlockLoopType"
        },
        "variables": {
          "$ref": "#/definitions/BlockLoopVariables"
        },
        "blocks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Block"
          }
        }
      }
    },
    "BlockLoopType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_FOR",
        "TYPE_FOREACH",
        "TYPE_WHILE"
      ],
      "default": "TYPE_UNSPECIFIED"
    },
    "BlockLoopVariables": {
      "type": "object",
      "properties": {
        "index": {
          "type": "string",
          "description": "The index of the loop."
        },
        "item": {
          "type": "string",
          "description": "The current item; index if none."
        }
      }
    },
    "BlockParallel": {
      "type": "object",
      "properties": {
        "static": {
          "$ref": "#/definitions/BlockParallelStatic"
        },
        "dynamic": {
          "$ref": "#/definitions/ParallelDynamic"
        },
        "wait": {
          "$ref": "#/definitions/BlockParallelWait"
        },
        "poolSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BlockParallelStatic": {
      "type": "object",
      "properties": {
        "paths": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/v1Blocks"
          }
        }
      }
    },
    "BlockParallelWait": {
      "type": "string",
      "enum": [
        "WAIT_UNSPECIFIED",
        "WAIT_ALL",
        "WAIT_NONE"
      ],
      "default": "WAIT_UNSPECIFIED",
      "description": " - WAIT_ALL: Wait for every thread to complete.\n - WAIT_NONE: Do not wait for any thread to complete."
    },
    "BlockStreamOptions": {
      "type": "object",
      "properties": {
        "disableAutoSend": {
          "type": "boolean",
          "description": "The UI has \"auto send\" but we need the default to be false\nSo our name here needs to be the opposite."
        }
      }
    },
    "BlockStreamTrigger": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "step": {
          "$ref": "#/definitions/v1Step"
        }
      }
    },
    "BlockStreamVariables": {
      "type": "object",
      "properties": {
        "item": {
          "type": "string"
        }
      }
    },
    "BlockThrow": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        }
      }
    },
    "BlockTryCatch": {
      "type": "object",
      "properties": {
        "try": {
          "$ref": "#/definitions/v1Blocks"
        },
        "catch": {
          "$ref": "#/definitions/v1Blocks"
        },
        "finally": {
          "$ref": "#/definitions/v1Blocks"
        },
        "variables": {
          "$ref": "#/definitions/BlockTryCatchVariables"
        }
      }
    },
    "BlockTryCatchVariables": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "The error inside of the catch block."
        }
      }
    },
    "BulkBulkAction": {
      "type": "string",
      "enum": [
        "BULK_ACTION_UNSPECIFIED",
        "BULK_ACTION_CREATE",
        "BULK_ACTION_UPDATE",
        "BULK_ACTION_DELETE",
        "BULK_ACTION_UPSERT"
      ],
      "default": "BULK_ACTION_UNSPECIFIED"
    },
    "ConditionalCondition": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "blocks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Block"
          }
        }
      }
    },
    "ConnectionDateFolderType": {
      "type": "string",
      "enum": [
        "DATE_FOLDER_TYPE_UNSPECIFIED",
        "DATE_FOLDER_TYPE_YYYY",
        "DATE_FOLDER_TYPE_YYYYMM",
        "DATE_FOLDER_TYPE_YYYYMMDD"
      ],
      "default": "DATE_FOLDER_TYPE_UNSPECIFIED"
    },
    "ConnectionFields": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "databaseNumber": {
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "enableSsl": {
          "type": "boolean"
        }
      }
    },
    "ConnectionUrl": {
      "type": "object",
      "properties": {
        "urlString": {
          "type": "string"
        }
      }
    },
    "ConsumeFrom": {
      "type": "string",
      "enum": [
        "FROM_UNSPECIFIED",
        "FROM_BEGINNING",
        "FROM_LATEST",
        "FROM_SEEK"
      ],
      "default": "FROM_UNSPECIFIED"
    },
    "ConsumeSeek": {
      "type": "object",
      "properties": {
        "topic": {
          "type": "string"
        },
        "offset": {
          "type": "integer",
          "format": "int32"
        },
        "partition": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ContainerPartitionKey": {
      "type": "object",
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CrudCrudAction": {
      "type": "string",
      "enum": [
        "CRUD_ACTION_UNSPECIFIED",
        "CRUD_ACTION_CREATE",
        "CRUD_ACTION_UPDATE",
        "CRUD_ACTION_DELETE",
        "CRUD_ACTION_READ"
      ],
      "default": "CRUD_ACTION_UNSPECIFIED"
    },
    "DatabaseSchemaMetadataColumn": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "escapedName": {
          "type": "string"
        }
      }
    },
    "DatabaseSchemaMetadataTemplate": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "body": {
          "type": "string"
        }
      }
    },
    "EventEnd": {
      "type": "object",
      "properties": {
        "performance": {
          "$ref": "#/definitions/apiv1Performance",
          "description": "Performance data for the block that just ended."
        },
        "output": {
          "$ref": "#/definitions/apiv1Output",
          "description": "The block's output."
        },
        "error": {
          "$ref": "#/definitions/v1Error",
          "description": "The error, if any."
        },
        "status": {
          "$ref": "#/definitions/v1BlockStatus"
        },
        "resolved": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/v1Resolved"
          },
          "description": "Any resolved bindings."
        }
      }
    },
    "EventStart": {
      "type": "object"
    },
    "ExecutorServiceAwaitBody": {
      "type": "object",
      "properties": {
        "options": {
          "$ref": "#/definitions/v1ExecuteRequestOptions",
          "description": "Request options."
        },
        "inputs": {
          "type": "object",
          "additionalProperties": {},
          "description": "Inputs that can be access in steps."
        },
        "definition": {
          "$ref": "#/definitions/v1Definition",
          "description": "The literal API specification."
        },
        "fetch": {
          "type": "object",
          "properties": {
            "profile": {
              "$ref": "#/definitions/v1Profile",
              "description": "The integration profile to use."
            },
            "test": {
              "type": "boolean",
              "description": "Use unpublished changes."
            },
            "token": {
              "type": "string",
              "description": "The auth token to use when fetching the definition.\nUsed for workflows only."
            },
            "viewMode": {
              "$ref": "#/definitions/v1ViewMode",
              "description": "The view mode that this resource should be executed against."
            },
            "commitId": {
              "type": "string",
              "description": "The commit ID to use when fetching the API."
            },
            "branchName": {
              "type": "string",
              "title": "The branch name to use when fetching the API"
            }
          },
          "description": "Details on how to fetch the API specification.",
          "title": "Details on how to fetch the API specification."
        },
        "files": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1ExecuteRequestFile"
          }
        },
        "profile": {
          "$ref": "#/definitions/v1Profile"
        },
        "mocks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/apiv1Mock"
          }
        }
      }
    },
    "ExpireOption": {
      "type": "string",
      "enum": [
        "OPTION_UNSPECIFIED",
        "OPTION_NX",
        "OPTION_XX",
        "OPTION_GT",
        "OPTION_LT"
      ],
      "default": "OPTION_UNSPECIFIED"
    },
    "HashicorpVaultVersion": {
      "type": "string",
      "enum": [
        "VERSION_UNSPECIFIED",
        "VERSION_V1",
        "VERSION_V2"
      ],
      "default": "VERSION_UNSPECIFIED"
    },
    "JobDays": {
      "type": "object",
      "properties": {
        "sunday": {
          "type": "boolean"
        },
        "monday": {
          "type": "boolean"
        },
        "tuesday": {
          "type": "boolean"
        },
        "wednesday": {
          "type": "boolean"
        },
        "thursday": {
          "type": "boolean"
        },
        "friday": {
          "type": "boolean"
        },
        "saturday": {
          "type": "boolean"
        }
      }
    },
    "JobInterval": {
      "type": "string",
      "enum": [
        "INTERVAL_UNSPECIFIED",
        "INTERVAL_MINUTE",
        "INTERVAL_HOUR",
        "INTERVAL_DAY",
        "INTERVAL_WEEK",
        "INTERVAL_MONTH"
      ],
      "default": "INTERVAL_UNSPECIFIED"
    },
    "MetadataBucket": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/MetadataScope"
          }
        }
      }
    },
    "MetadataCollection": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "MetadataContainer": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "partitionKey": {
          "$ref": "#/definitions/ContainerPartitionKey"
        }
      }
    },
    "MetadataResponseBucketMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "MetadataResponseDatabaseSchemaMetadata": {
      "type": "object",
      "properties": {
        "tables": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/MetadataResponseDatabaseSchemaMetadataTable"
          }
        },
        "schemas": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/MetadataResponseDatabaseSchemaMetadataSchema"
          },
          "title": "NOTE: (joey) this is optional in the TS version of this model. should be here as well"
        }
      }
    },
    "MetadataResponseDatabaseSchemaMetadataKey": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "columns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MetadataResponseDatabaseSchemaMetadataSchema": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "MetadataResponseDatabaseSchemaMetadataTable": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "columns": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/DatabaseSchemaMetadataColumn"
          }
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/MetadataResponseDatabaseSchemaMetadataKey"
          }
        },
        "templates": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/DatabaseSchemaMetadataTemplate"
          }
        },
        "schema": {
          "type": "string",
          "title": "NOTE: (joey) this is optional in the TS version of this model. should be here as well"
        }
      }
    },
    "MetadataScope": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "collections": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/MetadataCollection"
          }
        }
      }
    },
    "MockOn": {
      "type": "object",
      "properties": {
        "static": {
          "$ref": "#/definitions/MockParams"
        },
        "dynamic": {
          "type": "string",
          "title": "function name"
        }
      }
    },
    "MockParams": {
      "type": "object",
      "properties": {
        "integrationType": {
          "type": "string"
        },
        "stepName": {
          "type": "string"
        },
        "inputs": {}
      }
    },
    "ModesSettings": {
      "type": "object",
      "properties": {
        "default": {
          "type": "string"
        },
        "available": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OAuthAuthorizationCodeFlow": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "tokenUrl": {
          "type": "string"
        },
        "authUrl": {
          "type": "string"
        },
        "audience": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "tokenScope": {
          "type": "string"
        },
        "refreshTokenFromServer": {
          "type": "boolean"
        },
        "clientAuthMethod": {
          "type": "string"
        }
      }
    },
    "OAuthClientCredentialsFlow": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "tokenUrl": {
          "type": "string"
        },
        "audience": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        }
      }
    },
    "OAuthPasswordGrantFlow": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "tokenUrl": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "audience": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        }
      }
    },
    "ParallelDynamic": {
      "type": "object",
      "properties": {
        "paths": {
          "type": "string"
        },
        "variables": {
          "$ref": "#/definitions/ParallelDynamicVariables"
        },
        "blocks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Block"
          }
        }
      }
    },
    "ParallelDynamicVariables": {
      "type": "object",
      "properties": {
        "item": {
          "type": "string"
        }
      }
    },
    "ParametersQueryParam": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "You can specify multiple values for a single query parameter in a URL"
    },
    "PluginAdlsConnection": {
      "type": "object",
      "properties": {
        "accountName": {
          "type": "string"
        },
        "tenant": {
          "type": "string"
        },
        "auth": {
          "$ref": "#/definitions/v1Azure"
        }
      },
      "description": "We need to repeat that it's Adls because of the schema checker that's built\nbased off of these types. It errors out when there is a duplicate type\nname."
    },
    "PluginBulk": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string"
        },
        "action": {
          "$ref": "#/definitions/BulkBulkAction"
        },
        "resourceBody": {
          "type": "string",
          "title": "delete and update require Id, which will be part of body"
        },
        "externalId": {
          "type": "string",
          "title": "only used for upsert https://developer.salesforce.com/docs/atlas.en-us.api_asynch.meta/api_asynch/walkthrough_upsert.htm"
        }
      }
    },
    "PluginConsume": {
      "type": "object",
      "properties": {
        "from": {
          "$ref": "#/definitions/ConsumeFrom"
        },
        "topic": {
          "type": "string",
          "description": "NOTE(frank): SMH. Because our form template system if VERY limited,\nthere no way to send an array to the backend if we take in one topic in the UI."
        },
        "groupId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "seek": {
          "$ref": "#/definitions/ConsumeSeek",
          "description": "NOTE(frank): Another instance of template system limitations..."
        },
        "readUncommitted": {
          "type": "boolean"
        }
      }
    },
    "PluginCosmosDbConnection": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "databaseId": {
          "type": "string"
        },
        "auth": {
          "$ref": "#/definitions/v1Azure"
        }
      }
    },
    "PluginCouchbaseConnection": {
      "type": "object",
      "properties": {
        "user": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "PluginCouchbaseGet": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "identifier": {
          "$ref": "#/definitions/PluginCouchbaseIdentifier"
        }
      }
    },
    "PluginCouchbaseIdentifier": {
      "type": "object",
      "properties": {
        "scope": {
          "type": "string"
        },
        "collection": {
          "type": "string"
        }
      }
    },
    "PluginCouchbaseInsert": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "identifier": {
          "$ref": "#/definitions/PluginCouchbaseIdentifier"
        }
      }
    },
    "PluginCouchbaseRemove": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "identifier": {
          "$ref": "#/definitions/PluginCouchbaseIdentifier"
        }
      }
    },
    "PluginCreateContainer": {
      "type": "object",
      "properties": {
        "fileSystem": {
          "type": "string"
        }
      },
      "title": "Actions"
    },
    "PluginCreateDirectory": {
      "type": "object",
      "properties": {
        "fileSystem": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "PluginCreateIndex": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "PluginCrud": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string"
        },
        "action": {
          "$ref": "#/definitions/CrudCrudAction"
        },
        "resourceBody": {
          "type": "string",
          "title": "delete doesn't require body, other actions do"
        },
        "resourceId": {
          "type": "string",
          "title": "delete requires resource_id, other actions don't"
        }
      }
    },
    "PluginDatabricksConnection": {
      "type": "object",
      "properties": {
        "defaultCatalog": {
          "type": "string"
        },
        "defaultSchema": {
          "type": "string"
        },
        "hostUrl": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "token": {
          "type": "string"
        }
      }
    },
    "PluginDel": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginDeleteDirectory": {
      "type": "object",
      "properties": {
        "fileSystem": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "PluginDeleteFile": {
      "type": "object",
      "properties": {
        "fileSystem": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "PluginDownloadFile": {
      "type": "object",
      "properties": {
        "fileSystem": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "PluginExpire": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "seconds": {
          "type": "integer",
          "format": "int32"
        },
        "option": {
          "$ref": "#/definitions/ExpireOption"
        }
      }
    },
    "PluginGet": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginHdel": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "field": {
          "type": "string"
        }
      }
    },
    "PluginHget": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "field": {
          "type": "string"
        }
      }
    },
    "PluginHgetall": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginHkeys": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginHlen": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginHmget": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "fields": {
          "type": "string",
          "title": "comma-separated list"
        }
      }
    },
    "PluginHset": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "PluginHsetnx": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "PluginHvals": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginKeys": {
      "type": "object",
      "properties": {
        "pattern": {
          "type": "string"
        }
      }
    },
    "PluginKinesisConnection": {
      "type": "object",
      "properties": {
        "awsConfig": {
          "$ref": "#/definitions/v1AWSConfig"
        }
      }
    },
    "PluginKinesisGet": {
      "type": "object",
      "properties": {
        "shardId": {
          "type": "string"
        },
        "shardIteratorType": {
          "$ref": "#/definitions/PluginShardIteratorType"
        },
        "limit": {
          "type": "integer",
          "format": "int32"
        },
        "pollingCooldownMs": {
          "type": "integer",
          "format": "int32",
          "title": "not required by kinesis, but something we want to allow users to configure\nthis is the amount of time in milliseconds between asking kinesis to get records when polling in a loop"
        },
        "startingSequenceNumber": {
          "type": "string",
          "title": "these 2 are required depending on the shard iterator type selected"
        },
        "timestamp": {
          "type": "string"
        },
        "streamIdentifierType": {
          "$ref": "#/definitions/PluginStreamIdentifier"
        },
        "streamName": {
          "type": "string"
        },
        "streamArn": {
          "type": "string"
        }
      },
      "title": "https://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetRecords.html\nwe will need to get a shard iterator first\nhttps://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetShardIterator.html"
    },
    "PluginKinesisPut": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string"
        },
        "partitionKey": {
          "type": "string"
        },
        "streamIdentifierType": {
          "$ref": "#/definitions/PluginStreamIdentifier"
        },
        "streamName": {
          "type": "string"
        },
        "streamArn": {
          "type": "string"
        }
      },
      "title": "https://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecord.html\nhttps://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecords.html"
    },
    "PluginLindex": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "index": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PluginListDirectoryContents": {
      "type": "object",
      "properties": {
        "fileSystem": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "PluginListIndexes": {
      "type": "object"
    },
    "PluginLlen": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginLpush": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "PluginLrange": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "start": {
          "type": "integer",
          "format": "int32"
        },
        "stop": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PluginLrem": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "PluginMget": {
      "type": "object",
      "properties": {
        "keys": {
          "type": "string",
          "title": "comma-separated list"
        }
      }
    },
    "PluginOperationType": {
      "type": "string",
      "enum": [
        "OPERATION_TYPE_UNSPECIFIED",
        "OPERATION_TYPE_GET",
        "OPERATION_TYPE_PUT"
      ],
      "default": "OPERATION_TYPE_UNSPECIFIED"
    },
    "PluginOracleDbConnection": {
      "type": "object",
      "properties": {
        "hostUrl": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "user": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "databaseService": {
          "type": "string"
        },
        "useTcps": {
          "type": "boolean"
        },
        "connectionType": {
          "type": "string"
        },
        "connectionUrl": {
          "type": "string"
        }
      }
    },
    "PluginPointOperation": {
      "type": "object",
      "properties": {
        "containerId": {
          "type": "string"
        },
        "read": {
          "$ref": "#/definitions/PluginPointOperationRead"
        },
        "replace": {
          "$ref": "#/definitions/PointOperationReplace"
        },
        "upsert": {
          "$ref": "#/definitions/PluginPointOperationUpsert"
        },
        "delete": {
          "$ref": "#/definitions/PluginPointOperationDelete"
        },
        "create": {
          "$ref": "#/definitions/PluginPointOperationCreate"
        }
      }
    },
    "PluginPointOperationCreate": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "partitionKey": {
          "type": "string"
        }
      },
      "title": "https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/src/client/Item/Items.ts#L295"
    },
    "PluginPointOperationDelete": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "partitionKey": {
          "type": "string"
        }
      },
      "title": "https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/src/client/Item/Item.ts#L196"
    },
    "PluginPointOperationRead": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "partitionKey": {
          "type": "string"
        }
      },
      "title": "https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/src/client/Item/Item.ts#L78"
    },
    "PluginPointOperationUpsert": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "partitionKey": {
          "type": "string"
        }
      },
      "title": "https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/src/client/Item/Items.ts#L355"
    },
    "PluginProduce": {
      "type": "object",
      "properties": {
        "acks": {
          "$ref": "#/definitions/v1Acks"
        },
        "clientId": {
          "type": "string"
        },
        "timeout": {
          "type": "integer",
          "format": "int32"
        },
        "compression": {
          "$ref": "#/definitions/v1Compression"
        },
        "transactionId": {
          "type": "string"
        },
        "autoCreateTopic": {
          "type": "boolean"
        },
        "idempotent": {
          "type": "boolean"
        },
        "transaction": {
          "type": "boolean"
        },
        "messages": {
          "type": "string"
        }
      }
    },
    "PluginQuery": {
      "type": "object",
      "properties": {
        "vector": {
          "type": "string"
        },
        "topK": {
          "type": "string"
        }
      }
    },
    "PluginRaw": {
      "type": "object",
      "properties": {
        "singleton": {
          "$ref": "#/definitions/PluginRawSingleton"
        }
      }
    },
    "PluginRawSingleton": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string"
        }
      }
    },
    "PluginRenameDirectory": {
      "type": "object",
      "properties": {
        "fileSystem": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "newPath": {
          "type": "string"
        }
      }
    },
    "PluginSadd": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      }
    },
    "PluginSalesforceConnection": {
      "type": "object",
      "properties": {
        "instanceUrl": {
          "type": "string"
        },
        "auth": {
          "$ref": "#/definitions/commonv1Auth"
        }
      },
      "title": "children messages"
    },
    "PluginScard": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginSet": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "expirationMs": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PluginShardIteratorType": {
      "type": "string",
      "enum": [
        "SHARD_ITERATOR_TYPE_UNSPECIFIED",
        "SHARD_ITERATOR_TYPE_AT_SEQUENCE_NUMBER",
        "SHARD_ITERATOR_TYPE_AFTER_SEQUENCE_NUMBER",
        "SHARD_ITERATOR_TYPE_AT_TIMESTAMP",
        "SHARD_ITERATOR_TYPE_TRIM_HORIZON",
        "SHARD_ITERATOR_TYPE_LATEST"
      ],
      "default": "SHARD_ITERATOR_TYPE_UNSPECIFIED",
      "title": "https://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetShardIterator.html#API_GetShardIterator_RequestSyntax"
    },
    "PluginSismember": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      }
    },
    "PluginSmembers": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginSmtpConnection": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "secure": {
          "type": "boolean"
        }
      }
    },
    "PluginSoql": {
      "type": "object",
      "properties": {
        "sqlBody": {
          "type": "string"
        },
        "action": {
          "$ref": "#/definitions/SoqlSoqlAction"
        }
      },
      "title": "Action Fields"
    },
    "PluginSql": {
      "type": "object",
      "properties": {
        "singleton": {
          "$ref": "#/definitions/PluginSqlSingleton"
        }
      },
      "title": "Action Fields"
    },
    "PluginSqlSingleton": {
      "type": "object",
      "properties": {
        "containerId": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "crossPartition": {
          "type": "boolean"
        },
        "partitionKey": {
          "type": "string"
        }
      },
      "title": "https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/src/client/Item/Items.ts#L87"
    },
    "PluginSrandmember": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PluginSrem": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      }
    },
    "PluginStreamIdentifier": {
      "type": "string",
      "enum": [
        "STREAM_IDENTIFIER_UNSPECIFIED",
        "STREAM_IDENTIFIER_STREAM_NAME",
        "STREAM_IDENTIFIER_STREAM_ARN"
      ],
      "default": "STREAM_IDENTIFIER_UNSPECIFIED"
    },
    "PluginStructured": {
      "type": "object",
      "properties": {
        "get": {
          "$ref": "#/definitions/PluginGet"
        },
        "set": {
          "$ref": "#/definitions/PluginSet"
        },
        "del": {
          "$ref": "#/definitions/PluginDel"
        },
        "keys": {
          "$ref": "#/definitions/PluginKeys"
        },
        "mget": {
          "$ref": "#/definitions/PluginMget"
        },
        "hget": {
          "$ref": "#/definitions/PluginHget"
        },
        "hmget": {
          "$ref": "#/definitions/PluginHmget"
        },
        "hgetall": {
          "$ref": "#/definitions/PluginHgetall"
        },
        "hset": {
          "$ref": "#/definitions/PluginHset"
        },
        "hsetnx": {
          "$ref": "#/definitions/PluginHsetnx"
        },
        "hlen": {
          "$ref": "#/definitions/PluginHlen"
        },
        "hdel": {
          "$ref": "#/definitions/PluginHdel"
        },
        "hkeys": {
          "$ref": "#/definitions/PluginHkeys"
        },
        "hvals": {
          "$ref": "#/definitions/PluginHvals"
        },
        "lindex": {
          "$ref": "#/definitions/PluginLindex"
        },
        "llen": {
          "$ref": "#/definitions/PluginLlen"
        },
        "lpush": {
          "$ref": "#/definitions/PluginLpush"
        },
        "lrem": {
          "$ref": "#/definitions/PluginLrem"
        },
        "lrange": {
          "$ref": "#/definitions/PluginLrange"
        },
        "sadd": {
          "$ref": "#/definitions/PluginSadd"
        },
        "scard": {
          "$ref": "#/definitions/PluginScard"
        },
        "smembers": {
          "$ref": "#/definitions/PluginSmembers"
        },
        "sismember": {
          "$ref": "#/definitions/PluginSismember"
        },
        "srandmember": {
          "$ref": "#/definitions/PluginSrandmember"
        },
        "srem": {
          "$ref": "#/definitions/PluginSrem"
        },
        "zadd": {
          "$ref": "#/definitions/PluginZadd"
        },
        "zcard": {
          "$ref": "#/definitions/PluginZcard"
        },
        "zcount": {
          "$ref": "#/definitions/PluginZcount"
        },
        "zrange": {
          "$ref": "#/definitions/PluginZrange"
        },
        "zrank": {
          "$ref": "#/definitions/PluginZrank"
        },
        "zrem": {
          "$ref": "#/definitions/PluginZrem"
        },
        "zscore": {
          "$ref": "#/definitions/PluginZscore"
        },
        "expire": {
          "$ref": "#/definitions/PluginExpire"
        },
        "ttl": {
          "$ref": "#/definitions/PluginTtl"
        }
      }
    },
    "PluginTtl": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginUploadFile": {
      "type": "object",
      "properties": {
        "fileSystem": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "PluginUpsertVector": {
      "type": "object",
      "properties": {
        "raw": {
          "type": "string"
        }
      }
    },
    "PluginZadd": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "double"
        },
        "member": {
          "type": "string"
        }
      },
      "title": "TODO: (joey) support options as well: https://redis.io/commands/zadd/"
    },
    "PluginZcard": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "PluginZcount": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "min": {
          "type": "number",
          "format": "double"
        },
        "max": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "PluginZrange": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "start": {
          "type": "integer",
          "format": "int32"
        },
        "stop": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PluginZrank": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      },
      "title": "TODO: (joey) add optional withscore"
    },
    "PluginZrem": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      }
    },
    "PluginZscore": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      }
    },
    "PointOperationReplace": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "partitionKey": {
          "type": "string"
        }
      },
      "title": "https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/src/client/Item/Item.ts#L128"
    },
    "ProfilesModes": {
      "type": "object",
      "properties": {
        "editor": {
          "$ref": "#/definitions/ModesSettings"
        },
        "preview": {
          "$ref": "#/definitions/ModesSettings"
        },
        "deployed": {
          "$ref": "#/definitions/ModesSettings"
        }
      }
    },
    "SASLMechanism": {
      "type": "string",
      "enum": [
        "MECHANISM_UNSPECIFIED",
        "MECHANISM_PLAIN",
        "MECHANISM_SCRAM_SHA256",
        "MECHANISM_SCRAM_SHA512",
        "MECHANISM_AWS"
      ],
      "default": "MECHANISM_UNSPECIFIED"
    },
    "SignatureAlgorithm": {
      "type": "string",
      "enum": [
        "ALGORITHM_UNSPECIFIED",
        "ALGORITHM_ED25519"
      ],
      "default": "ALGORITHM_UNSPECIFIED"
    },
    "SoqlSoqlAction": {
      "type": "string",
      "enum": [
        "SOQL_ACTION_UNSPECIFIED",
        "SOQL_ACTION_SOQL"
      ],
      "default": "SOQL_ACTION_UNSPECIFIED",
      "description": "Specified for singleton types."
    },
    "TriggerApplication": {
      "type": "object",
      "properties": {
        "options": {
          "$ref": "#/definitions/TriggerApplicationOptions"
        },
        "id": {
          "type": "string"
        },
        "pageId": {
          "type": "string"
        }
      }
    },
    "TriggerApplicationOptions": {
      "type": "object",
      "properties": {
        "executeOnPageLoad": {
          "type": "boolean"
        }
      }
    },
    "TriggerJob": {
      "type": "object",
      "properties": {
        "options": {
          "$ref": "#/definitions/TriggerJobOptions"
        },
        "frequency": {
          "type": "integer",
          "format": "int32"
        },
        "interval": {
          "$ref": "#/definitions/JobInterval"
        },
        "dayOfMonth": {
          "type": "integer",
          "format": "int32"
        },
        "days": {
          "$ref": "#/definitions/JobDays"
        },
        "time": {
          "type": "string",
          "format": "date-time"
        },
        "timezoneLocale": {
          "type": "string"
        }
      }
    },
    "TriggerJobOptions": {
      "type": "object",
      "properties": {
        "profiles": {
          "$ref": "#/definitions/v1Profiles"
        },
        "sendEmailOnFailure": {
          "type": "boolean"
        },
        "deployedCommitId": {
          "type": "string"
        }
      }
    },
    "TriggerWorkflowOptions": {
      "type": "object",
      "properties": {
        "profiles": {
          "$ref": "#/definitions/v1Profiles"
        },
        "deployedCommitId": {
          "type": "string"
        }
      }
    },
    "TriggerWorkflowParameters": {
      "type": "object",
      "properties": {
        "query": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ParametersQueryParam"
          }
        },
        "body": {
          "type": "object",
          "additionalProperties": {}
        }
      }
    },
    "VariablesConfig": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/v1VariablesType"
        },
        "mode": {
          "$ref": "#/definitions/v1VariablesMode"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "apiv1Mock": {
      "type": "object",
      "properties": {
        "on": {
          "$ref": "#/definitions/MockOn"
        },
        "return": {
          "$ref": "#/definitions/v1MockReturn"
        }
      }
    },
    "apiv1Output": {
      "type": "object",
      "properties": {
        "result": {
          "description": "The JSON encoded response."
        },
        "request": {
          "type": "string",
          "description": "The original request."
        },
        "stdout": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stderr": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestV2": {
          "$ref": "#/definitions/v1OutputRequest"
        }
      }
    },
    "apiv1Performance": {
      "type": "object",
      "properties": {
        "start": {
          "type": "string",
          "format": "int64"
        },
        "finish": {
          "type": "string",
          "format": "int64"
        },
        "total": {
          "type": "string",
          "format": "int64"
        },
        "execution": {
          "type": "string",
          "format": "int64"
        },
        "overhead": {
          "type": "string",
          "format": "int64"
        },
        "custom": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "apiv1Trigger": {
      "type": "object",
      "properties": {
        "application": {
          "$ref": "#/definitions/TriggerApplication"
        },
        "workflow": {
          "$ref": "#/definitions/v1TriggerWorkflow"
        },
        "job": {
          "$ref": "#/definitions/TriggerJob"
        }
      }
    },
    "apiv1Variables": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/VariablesConfig"
          }
        }
      }
    },
    "athenav1Connection": {
      "type": "object",
      "properties": {
        "workgroupName": {
          "type": "string"
        },
        "overrideS3OutputLocation": {
          "type": "boolean"
        },
        "s3OutputLocation": {
          "type": "string"
        },
        "s3OutputLocationSuffix": {
          "$ref": "#/definitions/ConnectionDateFolderType"
        },
        "databaseName": {
          "type": "string"
        },
        "awsConfig": {
          "$ref": "#/definitions/v1AWSConfig"
        }
      }
    },
    "commonv1Auth": {
      "type": "object",
      "properties": {
        "passwordGrantFlow": {
          "$ref": "#/definitions/OAuthPasswordGrantFlow"
        },
        "authorizationCodeFlow": {
          "$ref": "#/definitions/OAuthAuthorizationCodeFlow"
        },
        "basic": {
          "$ref": "#/definitions/v1Basic"
        },
        "clientCredentialsFlow": {
          "$ref": "#/definitions/OAuthClientCredentialsFlow"
        },
        "key": {
          "$ref": "#/definitions/v1AzureKey",
          "title": "todo: remove me when cosmos updates"
        }
      }
    },
    "commonv1Metadata": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "folder": {
          "type": "string"
        },
        "timestamps": {
          "$ref": "#/definitions/v1Timestamps"
        },
        "version": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        }
      }
    },
    "commonv1Property": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "editable": {
          "type": "boolean"
        },
        "internal": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "minRange": {
          "type": "string"
        },
        "maxRange": {
          "type": "string"
        },
        "valueOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "system": {
          "type": "boolean",
          "title": "system properties are ones injected by the system"
        },
        "file": {
          "$ref": "#/definitions/v1FileMetadata"
        }
      }
    },
    "commonv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "googlerpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "pluginsadlsv1Plugin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "dynamicWorkflowConfiguration": {
          "$ref": "#/definitions/v1DynamicWorkflowConfiguration"
        },
        "connection": {
          "$ref": "#/definitions/PluginAdlsConnection"
        },
        "createContainer": {
          "$ref": "#/definitions/PluginCreateContainer"
        },
        "createDirectory": {
          "$ref": "#/definitions/PluginCreateDirectory"
        },
        "renameDirectory": {
          "$ref": "#/definitions/PluginRenameDirectory"
        },
        "deleteDirectory": {
          "$ref": "#/definitions/PluginDeleteDirectory"
        },
        "listDirectoryContents": {
          "$ref": "#/definitions/PluginListDirectoryContents"
        },
        "uploadFile": {
          "$ref": "#/definitions/PluginUploadFile"
        },
        "downloadFile": {
          "$ref": "#/definitions/PluginDownloadFile"
        },
        "deleteFile": {
          "$ref": "#/definitions/PluginDeleteFile"
        }
      }
    },
    "pluginsadlsv1PluginMetadata": {
      "type": "object",
      "properties": {
        "fileSystems": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "pluginsathenav1Plugin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "connection": {
          "$ref": "#/definitions/athenav1Connection"
        },
        "runSql": {
          "$ref": "#/definitions/v1SQLExecution"
        },
        "dynamicWorkflowConfiguration": {
          "$ref": "#/definitions/v1DynamicWorkflowConfiguration"
        }
      }
    },
    "pluginsbigqueryv1MappedColumns": {
      "type": "object",
      "properties": {
        "json": {
          "type": "string"
        },
        "sql": {
          "type": "string"
        }
      }
    },
    "pluginsbigqueryv1Plugin": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "usePreparedSql": {
          "type": "boolean"
        },
        "operation": {
          "type": "string"
        },
        "useAdvancedMatching": {
          "type": "string"
        },
        "table": {
          "type": "string"
        },
        "newValues": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pluginsbigqueryv1Tuple"
          }
        },
        "oldValues": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pluginsbigqueryv1Tuple"
          }
        },
        "filterBy": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mappingMode": {
          "type": "string"
        },
        "mappedColumns": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pluginsbigqueryv1MappedColumns"
          }
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsbigqueryv1SuperblocksMetadata"
        }
      }
    },
    "pluginsbigqueryv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginsbigqueryv1Tuple": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "$ref": "#/definitions/protobufAny"
        }
      }
    },
    "pluginscockroachdbv1MappedColumns": {
      "type": "object",
      "properties": {
        "json": {
          "type": "string"
        },
        "sql": {
          "type": "string"
        }
      }
    },
    "pluginscockroachdbv1Plugin": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "usePreparedSql": {
          "type": "boolean"
        },
        "operation": {
          "type": "string"
        },
        "useAdvancedMatching": {
          "type": "string"
        },
        "table": {
          "type": "string"
        },
        "newValues": {
          "type": "string"
        },
        "oldValues": {
          "type": "string"
        },
        "filterBy": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mappingMode": {
          "type": "string"
        },
        "mappedColumns": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pluginscockroachdbv1MappedColumns"
          }
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginscockroachdbv1SuperblocksMetadata"
        },
        "insertedRows": {
          "type": "string"
        },
        "deletedRows": {
          "type": "string"
        },
        "schema": {
          "type": "string"
        }
      }
    },
    "pluginscockroachdbv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginscosmosdbv1Plugin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "dynamicWorkflowConfiguration": {
          "$ref": "#/definitions/v1DynamicWorkflowConfiguration"
        },
        "connection": {
          "$ref": "#/definitions/PluginCosmosDbConnection"
        },
        "sql": {
          "$ref": "#/definitions/PluginSql"
        },
        "pointOperation": {
          "$ref": "#/definitions/PluginPointOperation",
          "title": "these operations will only ever affect a single item"
        }
      }
    },
    "pluginscosmosdbv1PluginMetadata": {
      "type": "object",
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/MetadataContainer"
          }
        }
      }
    },
    "pluginscouchbasev1Metadata": {
      "type": "object",
      "properties": {
        "buckets": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/MetadataBucket"
          }
        }
      }
    },
    "pluginscouchbasev1Plugin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "connection": {
          "$ref": "#/definitions/PluginCouchbaseConnection"
        },
        "dynamicWorkflowConfiguration": {
          "$ref": "#/definitions/v1DynamicWorkflowConfiguration"
        },
        "tunnel": {
          "$ref": "#/definitions/v1SSHConfiguration"
        },
        "bucketName": {
          "type": "string",
          "title": "used for all couchbase actions"
        },
        "runSql": {
          "$ref": "#/definitions/v1SQLExecution"
        },
        "insert": {
          "$ref": "#/definitions/PluginCouchbaseInsert"
        },
        "get": {
          "$ref": "#/definitions/PluginCouchbaseGet"
        },
        "remove": {
          "$ref": "#/definitions/PluginCouchbaseRemove"
        }
      }
    },
    "pluginscustomv1Plugin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "config": {
          "type": "string",
          "title": "NOTE(frank): Need to support JSON in the UI"
        }
      },
      "title": "NOTE(frank): THIS IS EXPERIMENTAL AND SUBJECT TO CHANGE"
    },
    "pluginsdatabricksv1Plugin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "connection": {
          "$ref": "#/definitions/PluginDatabricksConnection"
        },
        "operation": {
          "$ref": "#/definitions/v1SQLOperation"
        },
        "runSql": {
          "$ref": "#/definitions/v1SQLExecution"
        },
        "bulkEdit": {
          "$ref": "#/definitions/v1SQLBulkEdit"
        },
        "dynamicWorkflowConfiguration": {
          "$ref": "#/definitions/v1DynamicWorkflowConfiguration"
        }
      }
    },
    "pluginsdynamodbv1MappedColumns": {
      "type": "object",
      "properties": {
        "json": {
          "type": "string"
        },
        "sql": {
          "type": "string"
        }
      }
    },
    "pluginsdynamodbv1Plugin": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "usePreparedSql": {
          "type": "boolean"
        },
        "operation": {
          "type": "string"
        },
        "useAdvancedMatching": {
          "type": "string"
        },
        "table": {
          "type": "string"
        },
        "newValues": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pluginsdynamodbv1Tuple"
          }
        },
        "oldValues": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pluginsdynamodbv1Tuple"
          }
        },
        "filterBy": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mappingMode": {
          "type": "string"
        },
        "mappedColumns": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pluginsdynamodbv1MappedColumns"
          }
        },
        "action": {
          "type": "string"
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsdynamodbv1SuperblocksMetadata"
        }
      }
    },
    "pluginsdynamodbv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginsdynamodbv1Tuple": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "$ref": "#/definitions/protobufAny"
        }
      }
    },
    "pluginsemailv1Plugin": {
      "type": "object",
      "properties": {
        "emailFrom": {
          "type": "string"
        },
        "emailTo": {
          "type": "string"
        },
        "emailCc": {
          "type": "string"
        },
        "emailBcc": {
          "type": "string"
        },
        "emailSubject": {
          "type": "string"
        },
        "emailBody": {
          "type": "string"
        },
        "emailAttachments": {
          "type": "string"
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsemailv1SuperblocksMetadata"
        }
      }
    },
    "pluginsemailv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginsgcsv1Custom": {
      "type": "object",
      "properties": {
        "presignedExpiration": {
          "$ref": "#/definitions/pluginsgcsv1Property"
        }
      }
    },
    "pluginsgcsv1Plugin": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "prefix": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "fileObjects": {
          "type": "string"
        },
        "responseType": {
          "type": "string"
        },
        "custom": {
          "$ref": "#/definitions/pluginsgcsv1Custom"
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsgcsv1SuperblocksMetadata"
        }
      }
    },
    "pluginsgcsv1Property": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "integer",
          "format": "int32"
        },
        "editable": {
          "type": "boolean"
        },
        "internal": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "minRange": {
          "type": "string"
        },
        "maxRange": {
          "type": "string"
        },
        "valueOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "pluginsgcsv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginsgraphqlv1Custom": {
      "type": "object",
      "properties": {
        "variables": {
          "$ref": "#/definitions/commonv1Property"
        },
        "requestFormat": {
          "$ref": "#/definitions/commonv1Property"
        }
      }
    },
    "pluginsgraphqlv1Plugin": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/commonv1Property"
          }
        },
        "body": {
          "type": "string"
        },
        "custom": {
          "$ref": "#/definitions/pluginsgraphqlv1Custom"
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/commonv1SuperblocksMetadata"
        },
        "verboseHttpOutput": {
          "type": "boolean",
          "title": "Include HTTP response metadata in output"
        },
        "failOnGraphqlErrors": {
          "type": "boolean",
          "title": "Fail executions for GraphQL responses that contain errors"
        }
      }
    },
    "pluginsgsheetsv1Plugin": {
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "type": "string"
        },
        "sheetTitle": {
          "type": "string"
        },
        "range": {
          "type": "string"
        },
        "rowNumber": {
          "type": "string",
          "title": "Super confusing but these are potentially bindings. Or stringified int\nIf this was not a binding, it would be best to keep it int32 here"
        },
        "extractFirstRowHeader": {
          "type": "boolean"
        },
        "headerRowNumber": {
          "type": "string",
          "title": "Same as above comment"
        },
        "format": {
          "type": "string"
        },
        "data": {
          "type": "string"
        },
        "preserveHeaderRow": {
          "type": "boolean"
        },
        "includeHeaderRow": {
          "type": "boolean"
        },
        "action": {
          "type": "string"
        },
        "writeToDestinationType": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsgsheetsv1SuperblocksMetadata"
        }
      }
    },
    "pluginsgsheetsv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginsjavascriptv1Plugin": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsjavascriptv1SuperblocksMetadata"
        }
      }
    },
    "pluginsjavascriptv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginskafkav1Metadata": {
      "type": "object",
      "properties": {
        "topics": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Topic"
          }
        },
        "brokers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Broker"
          }
        }
      }
    },
    "pluginskafkav1Operation": {
      "type": "string",
      "enum": [
        "OPERATION_UNSPECIFIED",
        "OPERATION_CONSUME",
        "OPERATION_PRODUCE"
      ],
      "default": "OPERATION_UNSPECIFIED"
    },
    "pluginskafkav1Plugin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "operation": {
          "$ref": "#/definitions/pluginskafkav1Operation"
        },
        "produce": {
          "$ref": "#/definitions/PluginProduce"
        },
        "consume": {
          "$ref": "#/definitions/PluginConsume"
        },
        "cluster": {
          "$ref": "#/definitions/v1Cluster"
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginskafkav1SuperblocksMetadata",
          "title": "DEPRECATED"
        },
        "dynamicWorkflowConfiguration": {
          "$ref": "#/definitions/v1DynamicWorkflowConfiguration"
        }
      },
      "description": "NOTE(frank): Since it's Kafka, there's a zillion options. We'll start with the basics for now."
    },
    "pluginskafkav1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        },
        "syncedFromProfileId": {
          "type": "string"
        }
      },
      "title": "DEPRECATED"
    },
    "pluginskinesisv1Metadata": {
      "type": "object",
      "properties": {
        "streams": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "pluginskinesisv1Plugin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "connection": {
          "$ref": "#/definitions/PluginKinesisConnection"
        },
        "operationType": {
          "$ref": "#/definitions/PluginOperationType"
        },
        "put": {
          "$ref": "#/definitions/PluginKinesisPut"
        },
        "get": {
          "$ref": "#/definitions/PluginKinesisGet"
        },
        "dynamicWorkflowConfiguration": {
          "$ref": "#/definitions/v1DynamicWorkflowConfiguration"
        }
      }
    },
    "pluginsmariadbv1MappedColumns": {
      "type": "object",
      "properties": {
        "json": {
          "type": "string"
        },
        "sql": {
          "type": "string"
        }
      }
    },
    "pluginsmariadbv1Plugin": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "usePreparedSql": {
          "type": "boolean"
        },
        "operation": {
          "type": "string"
        },
        "useAdvancedMatching": {
          "type": "string"
        },
        "table": {
          "type": "string"
        },
        "newValues": {
          "type": "string"
        },
        "oldValues": {
          "type": "string"
        },
        "filterBy": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mappingMode": {
          "type": "string"
        },
        "mappedColumns": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pluginsmariadbv1MappedColumns"
          }
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsmariadbv1SuperblocksMetadata"
        },
        "insertedRows": {
          "type": "string"
        },
        "deletedRows": {
          "type": "string"
        },
        "schema": {
          "type": "string"
        }
      }
    },
    "pluginsmariadbv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginsmongodbv1Plugin": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "pipeline": {
          "type": "string"
        },
        "projection": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "sortby": {
          "type": "string"
        },
        "limit": {
          "type": "string",
          "title": "Super confusing, but these could be bindings or string ints\nIf they were not potential bindings, we should let them be int32s instead"
        },
        "skip": {
          "type": "string"
        },
        "document": {
          "type": "string"
        },
        "replacement": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "options": {
          "type": "string"
        },
        "update": {
          "type": "string"
        },
        "distinctKey": {
          "type": "string"
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsmongodbv1SuperblocksMetadata"
        }
      }
    },
    "pluginsmongodbv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginsmssqlv1MappedColumns": {
      "type": "object",
      "properties": {
        "json": {
          "type": "string"
        },
        "sql": {
          "type": "string"
        }
      }
    },
    "pluginsmssqlv1Plugin": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "usePreparedSql": {
          "type": "boolean"
        },
        "operation": {
          "type": "string"
        },
        "useAdvancedMatching": {
          "type": "string"
        },
        "table": {
          "type": "string"
        },
        "newValues": {
          "type": "string"
        },
        "oldValues": {
          "type": "string"
        },
        "filterBy": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mappingMode": {
          "type": "string"
        },
        "mappedColumns": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pluginsmssqlv1MappedColumns"
          }
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsmssqlv1SuperblocksMetadata"
        },
        "insertedRows": {
          "type": "string"
        },
        "deletedRows": {
          "type": "string"
        },
        "schema": {
          "type": "string"
        }
      }
    },
    "pluginsmssqlv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginsmysqlv1MappedColumns": {
      "type": "object",
      "properties": {
        "json": {
          "type": "string"
        },
        "sql": {
          "type": "string"
        }
      }
    },
    "pluginsmysqlv1Plugin": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "usePreparedSql": {
          "type": "boolean"
        },
        "operation": {
          "type": "string"
        },
        "useAdvancedMatching": {
          "type": "string"
        },
        "table": {
          "type": "string"
        },
        "newValues": {
          "type": "string"
        },
        "oldValues": {
          "type": "string"
        },
        "filterBy": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mappingMode": {
          "type": "string"
        },
        "mappedColumns": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pluginsmysqlv1MappedColumns"
          }
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsmysqlv1SuperblocksMetadata"
        },
        "insertedRows": {
          "type": "string"
        },
        "deletedRows": {
          "type": "string"
        },
        "schema": {
          "type": "string"
        }
      }
    },
    "pluginsmysqlv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginsocrv1Plugin": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "file": {
          "type": "string"
        },
        "fileUrl": {
          "type": "string"
        }
      }
    },
    "pluginsopenaiv1Plugin": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "generateChatGptResponsePrompt": {
          "type": "string"
        },
        "generateChatGptResponseMessageHistory": {
          "type": "string"
        },
        "generateChatGptResponseSystemInstruction": {
          "type": "string"
        },
        "generateTextType": {
          "type": "string"
        },
        "generateTextNewTextPrompt": {
          "type": "string"
        },
        "generateTextEditTextTextToEdit": {
          "type": "string"
        },
        "generateTextEditTextPrompt": {
          "type": "string"
        },
        "generateCodeType": {
          "type": "string"
        },
        "generateCodeNewCodePrompt": {
          "type": "string"
        },
        "generateCodeEditCodeCodeToEdit": {
          "type": "string"
        },
        "generateCodeEditCodePrompt": {
          "type": "string"
        },
        "checkModerationText": {
          "type": "string"
        },
        "embeddingText": {
          "type": "string"
        },
        "generateImageMethod": {
          "type": "string"
        },
        "generateImageGenerateFromPromptPrompt": {
          "type": "string"
        },
        "generateImageGenerateFromPromptImageImageSize": {
          "type": "string"
        },
        "generateImageEditImagePrompt": {
          "type": "string"
        },
        "generateImageEditImageImageFileToEdit": {
          "type": "string"
        },
        "generateImageEditImageImageMask": {
          "type": "string"
        },
        "generateImageEditImageImageSizes": {
          "type": "string"
        },
        "generateImageVaryImageImageFile": {
          "type": "string"
        },
        "generateImageVaryImageImageSize": {
          "type": "string"
        },
        "transcribeAudioToTextAudioFile": {
          "type": "string"
        },
        "transcribeAudioToTextInputLanguage": {
          "type": "string"
        },
        "transcribeAudioToTextTranslateToEnglish": {
          "type": "boolean",
          "title": "This is not a string because it is not a binding! Yay!"
        },
        "generateChatGPTResponseAiModel": {
          "type": "string"
        },
        "generateTextNewTextAiModel": {
          "type": "string"
        },
        "generateTextEditTextAiModel": {
          "type": "string"
        },
        "generateCodeNewCodeAiModel": {
          "type": "string"
        },
        "generateCodeEditCodeAiModel": {
          "type": "string"
        },
        "checkModerationAiModel": {
          "type": "string"
        },
        "generateTextEmbeddingAiModel": {
          "type": "string"
        },
        "transcribeAudioToTextAiModel": {
          "type": "string"
        },
        "generateChatGptResponseMaxTokens": {
          "type": "string",
          "title": "Super confusing - these fields might be bindings\nOtherwise, they should be ints"
        },
        "generateTextNewTextMaxTokens": {
          "type": "string"
        },
        "aiModel": {
          "type": "string"
        },
        "superblocksMetadata": {
          "$ref": "#/definitions/pluginsopenaiv1SuperblocksMetadata"
        }
      }
    },
    "pluginsopenaiv1SuperblocksMetadata": {
      "type": "object",
      "properties": {
        "pluginVersion": {
          "type": "string"
        }
      }
    },
    "pluginsoracledbv1Plugin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "connection": {
          "$ref": "#/definitions/PluginOracleDbConnection"
        },
        "dynamicWorkflowConfiguration": {
          "$ref": "#/definitions/v1DynamicWorkflowConfiguration"
        },
        "runSql": {
          "$ref": "#/definitions/v1SQLExecution"
        },
        "bulkEdit": {
          "$ref": "#/definitions/v1SQLBulkEdit"
        },
        "operation": {
          "$ref": "#/definitions/v1SQLOperation"
        }
      }
    },
    "pluginspineconev1Plugin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "dynamicWorkflowConfiguration": {
          "$ref": "#/definitions/v1DynamicWorkflowConfiguration"
[...]
