# The default values for the Superblocks Agent Platform.

# REQUIRED: agentKey, agentHostUrl
# DOCS:     https://docs.superblockshq.com/superblocks/security-and-permissions/on-premise-agent-overview/deployment
superblocks: {}
  # agentKey: ""
  # agentHostUrl: "http[s]://<agent-host[:port]>/agent"
  # agentEnvironment: <"*"|"staging"|"production">

  # Existing agentKey secret must contain the value:
  # SUPERBLOCKS_AGENT_KEY: <my-superblocks-agent-key>
  # agentKeyExistingSecret: "<my-superblocks-agent-key-secret>", optional. Secret is created for you if not specified.

imagePullSecrets: []

# Change the prefix used in resource names.
# Defaults to 'superblocks-agent'.
nameOverride: ''

fullnameOverride: ''

podAnnotations: {}
podLabels: {}

# Specify extra environment variables that will be applied
# to both the Controllers and Workers.
extraEnv: {}
#   TEST_KEY: foobar
#   DD_AGENT_HOST:
#     valueFrom:
#       fieldRef:
#         fieldPath: status.hostIP

# Specify extra environment variables that will be applied
# to both the Controllers and Workers.
envFrom: []
#   - secretRef:
#       name: my-agent-env-secret
#   - configMapRef:
#       name: my-agent-env-configmap

# Controller specific values.
controller:

  service:
    type: ClusterIP
    port: 8020

  ingress:
    enabled: false
    class: "" # nginx
    annotations: {}
      # kubernetes.io/tls-acme: "true"
    hosts: []
    # - host: chart-example.local
    #   paths: []
    tls: []
    # - secretName: chart-example-tls
    #   hosts:
    #     - chart-example.local

  # Upon termination, there may be inflight requests and scheduled jobs.
  # If you want to force kill the agent after a certain point, this value
  # is what you're looking for. Defaults to 1 day (86400 seconds).
  terminationGracePeriodSeconds: 86400

  podDisruptionBudget: {}
    # minAvailable: 1

  image:
    repository: ghcr.io/superblocksteam/agent/controller
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    # tag: ""

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  ports:
    http: 8020
    worker: 5001

  replicaCount: 1

  # Specify extra environment variables that will
  # only be applied to the Controllers.
  extraEnv: {}
  envFrom: []

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 40
    targetMemoryUtilizationPercentage: 80

  # Please adjust these values as needed depending on your workloads. Allotting less
  # than this could potentially cause your agents to crash from Out Of Memory errors.
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 1Gi

  nodeSelector: {}
  tolerations: []
  affinity: {}

# Controller specific values.
worker:

  # Specify extra environment variables that will
  # only be applied to the Workers.
  extraEnv: {}
  envFrom: []

  image:
    repository: ghcr.io/superblocksteam/agent/worker
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    # tag: ""

  podSecurityContext: {}
  securityContext: {}

  # We recommend running two fleets for the most secure setup.
  # If you would like to run a single fleet, then you can use:
  #
  # fleets:
  #   all:
  #     ...
  #     plugins: "" # Either don't set or omit.
  #     ...
  #
  fleets:
    language:
      plugins: "javascript,python"
      concurrency: 1
      resources: {}
      nodeSelector: {}
      tolerations: []
      affinity: {}

      # These environment variables will only
      # be applied to this Worker fleet.
      extraEnv: {}
      envFrom: []

    not-language:
      plugins: "!javascript,python"
      resources: {}
      nodeSelector: {}
      tolerations: []
      affinity: {}
      extraEnv: {}
      envFrom: []