{{- range $k, $v := .Values.fleets }}
{{- $podAnnotations := $v.podAnnotations | default $.Values.podAnnotations }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $k }}
  labels:
    {{- include "worker.labels" $v | nindent 4 }}
spec:
  replicas: {{ $v.autoscaling.min | default $.Values.autoscaling.min | default 1 }}
  selector:
    matchLabels:
      {{- include "worker.labels" $v | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 50%
  template:
    metadata:
      labels:
        {{- include "worker.labels" $v | nindent 8 }}
      annotations:
        {{- toYaml $podAnnotations | nindent 8 }}
    spec:
      {{- if $.Values.runtimeClassName }}
      runtimeClassName: {{ $.Values.runtimeClassName }}
      {{- end }}
      terminationGracePeriodSeconds: {{ $.Values.terminationGracePeriodSeconds }}
      serviceAccountName: default
      {{- if $.Values.image.credentials }}
      imagePullSecrets:
      - name: worker-docker
      {{- end }}
      containers:
      - name: worker
        image: "{{ $.Values.image.repository | default "ghcr.io/superblocksteam/worker.py" }}:{{ $.Values.image.tag | default "latest" }}"
        imagePullPolicy: {{ $.Values.image.pullPolicy | default "IfNotPresent" }}
        resources:
          {{- toYaml (deepCopy ($.Values.resources | default dict) | merge ($v.resources)) | nindent 10 }}
        env:
        # Node.js "stuff"
        - name: NODE_ENV
          value: production
        - name: NODE_OPTIONS
          value: "max_old_space_size={{ $.Values.node.heap }}"
        # Used to select the right entrypoint in our hyperimage.
        - name: FLEET
          value: {{ $v.package }}
        # SUPERBLOCKS_ "stuff"
        - name: __SUPERBLOCKS_AGENT_VERSION
          value: {{ $.Values.image.tag | default "v0.0.0" }}
        - name: __SUPERBLOCKS_AGENT_INTAKE_TRACES_URL
          value: {{ $.Values.observability.tracing.exporter.url }}
        - name: SUPERBLOCKS_AGENT_LOG_LEVEL
          value: {{ $.Values.service.logLevel | default "INFO" }}
        - name: SUPERBLOCKS_AGENT_LOG_JSON_FORMAT
          value: {{ $.Values.service.jsonLog | default "true" | quote }}
        - name: SUPERBLOCKS_AGENT_TLS_INSECURE
          value: {{ $.Values.service.tls.insecure | default "false" | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_HOST
          value: {{ $.Values.queue.host | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_KVSTORE_HOST
          value: {{ $.Values.kvstore.host | quote }}
        - name: SUPERBLOCKS_AGENT_PLUGIN_EVENTS
          value: {{ $v.events | quote }}
        - name: SUPERBLOCKS_AGENT_BUCKET
          value: {{ $v.bucket | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_KVSTORE_MAX_SIZE_BYTES
          value: {{ $.Values.kvstore.maxBytes | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_GROUP
          value: {{ $v.group | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_POOL_FAST_MIN
          value: {{ ($v.kvstore).pool.fast.min | default $.Values.kvstore.pool.fast.min | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_POOL_FAST_MAX
          value: {{ ($v.kvstore).pool.fast.max | default $.Values.kvstore.pool.fast.max | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_POOL_SLOW_MIN
          value: {{ ($v.kvstore).pool.slow.min | default $.Values.kvstore.pool.slow.min | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_POOL_SLOW_MAX
          value: {{ ($v.kvstore).pool.slow.max | default $.Values.kvstore.pool.slow.max | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_POOL_QUEUE_MIN
          value: {{ ($v.queue).pool.min | default $.Values.queue.pool.min | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_POOL_QUEUE_MAX
          value: {{ ($v.queue).pool.max | default $.Values.queue.pool.max | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_SLOW_CLIENT_THRESHOLD_BYTES
          value: {{ $.Values.kvstore.slowClientThreshold | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_QUEUE_BLOCK_MS
          value: {{ $.Values.queue.blockMs | quote }}
        - name: SUPERBLOCKS_AGENT_REDIS_QUEUE_BATCH_SIZE
          value: {{ $.Values.queue.batchSize | quote }}
        - name: SUPERBLOCKS_ORCHESTRATOR_EMITTER_REMOTE_INTAKE
          value: {{ $.Values.remoteIntakeUrl | quote }}
        - name: SUPERBLOCKS_AGENT_ASYNC_REDIS
          value: "false"
        - name: SUPERBLOCKS_AGENT_REDIS_TOKEN
          valueFrom:
            secretKeyRef:
              name: worker-redis-token
              key: token
        - name: SUPERBLOCKS_AGENT_REDIS_KVSTORE_TOKEN
          valueFrom:
            secretKeyRef:
              name: worker-kvstore-token
              key: token
        - name: SUPERBLOCKS_AGENT_KEY
          valueFrom:
            secretKeyRef:
              name: worker-agent-key
              key: key
        - name: DD_ENV
          value: {{ $.Values.environment }}
        - name: DD_SERVICE
          value: worker.py
        - name: DD_VERSION
          value: {{ $.Values.image.tag }}
        ports:
        - name: metrics
          containerPort: {{ $.Values.service.ports.metrics }}
          protocol: TCP
        livenessProbe:
          exec:
            command:
            - cat
            - /tmp/worker_healthy
          initialDelaySeconds: 30
        readinessProbe:
          exec:
            command:
            - cat
            - /tmp/worker_healthy
        # TODO(frank): DD_AGENT_ "stuff"
      {{- with $.Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.affinity }}
      affinity:
        {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with $.Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 6 }}
      {{- end }}
{{- end }}
